@import "tailwindcss";

/* Estilos Básicos */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Cartão de Produto */
.product {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

.product:hover {
  box-shadow: 0 2px 5px #999;
}

/* Badge de Desconto */
.desconto {
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}

/* Botão */
button {
  background-color: #2563eb;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1d4ed8;
}

/* Input */
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
